<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Example for Eleventy Reader Bar Plugin</title>
</head>
<body>
  <div class="reader-bar-start">
    <div style="width:540px; text-align:center;margin:0 auto;line-height:1.6rem;">
      {{ content | safe }}
    </div>
  </div>
  {% readerBar %}
</body>
</html>